*{
    margin:0;
    padding: 0;
}

a{
text-decoration:none;
}


.democlass {
    margin: 1.5%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #C0BFBD;
  }

.cardClass{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.836);
}

body{
    font-family: 'News Cycle', sans-serif;
    background-color:#ffe575;  
}

#welcome{
    width: 100%;
    height: 640px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.imageWelcome{
    width: 110%;
}

#picWel{
    width: 60%;
}

#txtWelcome{
    width: 40%;
    height: 48%;
    font-size: 13px;
    margin-right: 4%;
}

#main{
    width: 100%;
    max-width: 1170px;
    margin: auto;
    display: none;
    font-family: 'News Cycle', sans-serif;
    font-size: 14px;
}

#mainHead{
    width: 100%;
    height: 70px;
}

#logo{
    width: 40%;
    padding: 15px;
}

#texto1{
    width: 35%;
    height: 80px;
    float: right;
    font-size: 12px;
    padding:20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: justify;
}

#espacio{
    width: 65%;
    height: 100px;
}

#mainImage{
    width: 100%;
    height: 100px;
}

.mainPikachu{
    height: 80%;
    padding-top: 20px;
    display: block;
    margin: auto;

}

#categories{
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    margin:auto;
    padding-bottom: 10px;
    border-radius: 10px; 
}

.img{
    width: 60px;
    padding: 10px;
    padding-bottom: 5px;
    display: block;
    
}

.text{
    padding-top: 0px;  
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}


/*-------Ventana modal----------
------------------------------*/

#windowModal{
    display:none;
    position: fixed;
    z-index:1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.25);
}


.contentModal{
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 85%;
    height: 85%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    margin-top: 15%;
    animation-name: modal; 
    animation-duration: 1s;
}

@keyframes modal{
    from { scale: -0.20; opacity:0; }
    to { scale: 0; opacity:1; }
    }


.headerModal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


@media all and (min-width:750px) and (max-width:1050px) and (orientation:portrait){
    #mainHead{
        height: 150px;
    }

    #texto1{
        height: 180px;
        font-size: 20px;

    }
    
    #espacio{
        height: 200px;
    }
    
    #mainImage{
        height: 150px;
    }

    .mainPikachu{
        height: 85%;
    
    }
    
    .img{
        width: 100px;
        padding: 5px;
        padding-left: 30px;
        padding-top: 20px;

    }

    .text{
        font-size: 18px;
        padding-top: 7px;
    }
}

@media all and (min-width:750px) and (max-width:1050px) and (orientation:landscape){
   
    #mainHead{
        height: 200px;
    }

    #logo{
        width: 35%;
        display: block;
        margin:auto;
        padding: 50px;
    }

    #texto1{
        width: 100%;
        height:   20%;
        font-size: 21px;
        text-align: justify;
        margin: auto;
        padding: 30px;

    }

    #espacio{
        display: none;
    }

    #mainImage{
        height: 150px;
        float: left;
        margin-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .mainPikachu{
        height: 60%;
    
    }

    #categories{
        margin: 30px;
        padding: 15px;
    }

    .img{
        width: 75px;
        padding: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        
    }
    
    .text{
        padding-top: 0px;  
        font-size: 16px;
    }


}


#buttonModal{
    background-color:transparent;
    border: transparent;
}

#grass{
    display: none;
    border-radius:10px;
    padding-left: 20px;
    padding-right: 20px;
}

#grasshead{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prueba{
    display: flex;
    justify-content: center;

}

#mainMenuGrass{
width:50%;
height: 110px;
display: flex;
flex-direction: column;
align-items: center;

}

.buttonsMenu{
    width: 70%;
    height: 35px;
    font-family: 'Economica', sans-serif;
    font-size: 14px;
    margin:2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.iconPokebola{
    width: 25px;
    height: 25px;
}

.botonUno{
    margin-left: 10px;
    background-color: transparent;
    border-color: transparent;
    color: black;
}

#graasOrder{
    display: none;
}


#reverseOrder{
    display: none
}
