*{
    margin:0;
    padding: 0;
}


.democlass {
    margin: 1.5%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #C0BFBD;
  }

.cardClass{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.836);
}

body{
    font-family: sans-serif;
    background-color:#FFD622;   
}

#main{
    width: 100%;
    max-width: 1170px;
    margin: auto;
    display: block;
}

#mainHead{
    width: 100%;
    height: 70px;
}

#logo{
    width: 40%;
    padding: 15px;
}

#texto1{
    width: 35%;
    height: 80px;
    float: right;
    font-size: 8px;
    padding:20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: justify;
}

#espacio{
    width: 65%;
    height: 100px;
}

#mainImage{
    width: 100%;
    height: 100px;
}

.mainPikachu{
    height: 80%;
    padding-top: 20px;
    display: block;
    margin: auto;

}

#categories{
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    margin:auto;
    padding-bottom: 10px;
    border-radius: 10px; 
}

.img{
    width: 60px;
    padding: 10px;
    padding-bottom: 5px;
    display: block;
    
}

.text{
    padding-top: 0px;  
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}



@media all and (min-width:750px) and (max-width:1050px) and (orientation:portrait){
    #mainHead{
        height: 150px;
    }

    #texto1{
        height: 180px;
        font-size: 18px;
    }
    
    #espacio{
        height: 200px;
    }
    
    #mainImage{
        height: 150px;
    }

    .mainPikachu{
        height: 85%;
    
    }
    
    .img{
        width: 100px;
        padding: 5px;
        padding-left: 30px;
        padding-top: 20px;

    }

    .text{
        font-size: 18px;
        padding-top: 7px;
    }
}

@media all and (min-width:750px) and (max-width:1050px) and (orientation:landscape){
   
    #mainHead{
        height: 200px;
    }

    #logo{
        width: 35%;
        display: block;
        margin:auto;
        padding: 50px;
    }

    #texto1{
        width: 100%;
        height:   20%;
        font-size: 21px;
        text-align: justify;
        margin: auto;
        padding: 30px;

    }

    #espacio{
        display: none;
    }

    #mainImage{
        height: 150px;
        float: left;
        margin-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .mainPikachu{
        height: 60%;
    
    }

    #categories{
        margin: 30px;
        padding: 15px;
    }

    .img{
        width: 75px;
        padding: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        
    }
    
    .text{
        padding-top: 0px;  
        font-size: 16px;
    }


}


#buttonModal{
    background-color:transparent;
    border: transparent;
}

#grass{
    display: none;
}

#poison{
    display: none;
}

#fire{
    display: none;
}

#flying{
    display: none;
}

#water{
    display: none;
}

#bug{
    display: none;
}

#normal{
    display: none;
}

#electric{
    display: none;
}

#ground{
    display: none;
}

#fighting{
    display: none;
}

#psychic{
    display: none;
}

#rock{
    display: none;
}

#ice{
    display: none;
}

#ghost{
    display: none;
}

#pokemonsOrder{
    display: none;
}